<div class="flex justify-center mb-2">
    <div class="w-8/12 p-6 overflow-hidden rounded-lg shadow bg-dark text-nicegreywhite">
	    <article>
		    <p class=" text-nicegreywhite">{{content}}</p>
		    <div class="flex items-center mt-2 space-x-4">
			    <div>
				    <h3 class="text-sm font-medium">{{bloguser.name}}</h3>
				    <time datetime="2021-02-18" class="text-sm dark:text-gray-600">{{date_created}}</time>
			    </div>
		    </div>
	    </article>
    </div>
</div>