<h1 class="text-xl p-3 underline text-center lg:justify-center">Welcome to BlogN/A</h1>

<p class="text-nicegreywhite">
    The only site for bloging about coding bologna. Thats right as long as its at least code adjacent its welcome here. Looks like you might be new here get started by
<button class="text-poppinred bg-middark border-2 border-light shadow-lg">Signing up here!</button>
</p>
